<!DOCTYPE html>
<html>

<head>

    <title>LappyMan</title>
    <link rel="stylesheet" type="text/css" href="../static/css/homescreen.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <!----hero Section start---->
    <div class="container">
        <div class="box1">
            <nav>
                <img src='https://github.com/Syachrifaldi/FinalProject/blob/main/static/img/Logo.png?raw=true'
                    class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </nav>

            <div class="text-box">
                <h1>LappyMan</h1>
                <h3>Let's Build Personal Computer</h3>
                <div class="newslatter">
                    <a href="/build" class="neon-button">Let's Start</a>
                </div>
            </div>
        </div>


        <div class="slides">
            <section class="home">
                <div class="home-content">
                    <h2 class="heading">Lappy<span>Man</span></h2>
                    <p> LappyMan merupakan aplikasi yang dirancang dan disesain untuk masyakarat khususnya
                        dari kalangan pelajar hingga mahasiswa banyak masih yang kurang paham dengan pemilihan
                        jenis
                        laptop sesuai dengan apa yang dibutuhkan untuk keperluan belajar,menunjang
                        tugas kuliah terkait, pekerjaan dan keperluan lainnya.LappyMan akan membantu
                        dengan merekomendasikan secara cepat dan tepat dalam memilih laptop yang diperlukan
                        sehingga
                        dengan adanya aplikasi ini dapat
                        membantu untuk mendapatkan rekomendasi pilihan laptop terbaik.</p>
                </div>

                <div class="home-img">
                    <div class="rhombus">
                        <img src="../static/img/robotic cartoon.png" alt="">
                    </div>
                </div>




            </section>
        </div>







</body>

</html>